
@{
    ViewData["Title"] = "About";
}

<h1> Redireced by index .cshtml About</h1>

<p>Using ViewData: @ViewData["var2"]</p>
<p>Using ViewBag: @ViewBag.var1</p>
<p>Using TempData: @TempData["var3"]</p>

